.sin {
    background-image: none;
    background-color: #2b2b2b;
    color: white;
    font-size: 20px;
}

.prim {
    background-image: none;
    background-color: #2b2b2b;
    color: white;
    font-size: 20px;
}

.window {
    background-image: none;
    background-color: #42454a ;
    color: white;
    font-size: 20px;
}

.display{
    background-image: none;
    background-color: #FFFFFF;
    color: white;
    font-size: 20px;
}